.addproduct {
    text-align: center;
  
    &__title {
      text-align: center;
      font-weight: 100;
    }
  
    &__section {
      padding-top: 20px;
      position: relative;
      z-index: 10;
      height: 100%;
      background-color: white;
      min-height: auto;
      max-height: none;
      overflow:auto;
    }
  
    &__submit {
      background-color: $colorPrincipal;
      color: white;
      border: none;
      padding: 13px;
      padding-top: 15px;
      margin: 30px 10px;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  .container-addproduct {
    padding: 0px 20%;
    text-align: center;
    margin: 10px 3%;
    margin-bottom: 50px;
  }
  .div-cliente-addproduct{
    display: flex;
    width: 100%;
    align-items: center;
    margin: 20px 0px;
    font-size: 20px;  
  }
  form {
    overflow-y: auto;
    max-height: 90vh;
    display: block;
    unicode-bidi: isolate;
    text-align: left;
}
  .row {
    display: flex;
    width: 100%;
    margin: 10px 0%;
  }
  
  .row_input {
    border: none;
    vertical-align: bottom;
    border-bottom: solid 1px $colorSecundario;
    width: 50%;
    resize: none;
    background-color: white;
    font-size: 20px;
  }
  
  .textarea_input {
    border: none;
    vertical-align: bottom;
    border: solid 1px $colorSecundario;
    width: 45%;
    resize: none;
    background-color: white;
    height: 100px;
    padding: 10px;
  }
  
  .label_solicitud_addproduct {
    vertical-align: bottom;
    margin: 0 10px;
    width: 45%;
    color: #fff;
    background-color: #121212;
    padding: 5px 20px;
    text-align: left;
    font-weight: 400;
  }
