.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.modal-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.modal-section {
    margin-bottom: 20px;
}

.modal-select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal-date-range {
    display: flex;
    justify-content: space-between;
}

.modal-date-input {
    width: 48%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
}

.modal-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
}

.modal-button:hover {
    background-color: #0056b3;
}
.modal-button-limpiar {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #D9534F;
    color: white;
    transition: background-color 0.3s;
}

.modal-button-limpiar:hover {
    background-color: #c53833;
}
.dropdown {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    background-color: #fff;
  }
  
  .dropdown-selected {
    font-size: 14px;
    color: #333;
  }
  
  .dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    z-index: 10;
  }
  
  .dropdown-option {
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .dropdown-option:hover {
    background-color: #f0f0f0;
  }
  
  input[type="checkbox"] {
    margin-right: 8px;
  }
  
  