.div_center{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: -200px;
    &_p{
        margin: 0px;
    }
}