.newquotation {
    text-align: center;
  
    &__title {
      text-align: center;
      font-weight: 100;
    }
  
    &__section {
      padding-top: 20px;
      position: relative;
      z-index: 10;
      background-color: white;
      min-height: 110vh;
    }
  
    &__submit {
      background-color: $colorPrincipal;
      color: white;
      border: none;
      padding: 13px;
      padding-top: 15px;
      margin: 30px 10px;
      border-radius: 10px;
      cursor: pointer;
    }
  }
  .addProduct-button{
    text-align: center;
  }
  .container-newquotation {
    padding: 0px 20%;
    text-align:center;
    margin: 10px 3%;
  }
  
  .row{
    display:flex;
    width: 100%;
    margin: 10px 0%;
  }
  
  .row_input{
   border:none;
   vertical-align:bottom;
   border-bottom: solid 1px $colorSecundario;
   width: 50%;
   resize: none;
   background-color: white;
  }
  .textarea_input {
    border: none;
    vertical-align: bottom;
    border: solid 1px $colorSecundario;
    width: 50%;
    resize: none;
    background-color: white;
    height: 100px; 
    padding: 10px; 
  }
  
  .csv_input{
    float: right;
    margin-top: -40px;
    margin-right: 5%;
    width: 30px;
    position: relative;
    opacity: 0;
  }
  .div_input{
   width: 50%;
   text-align: left;
  }
  
  .icon_upload{
    vertical-align: middle;
    width: 30px;
    height: 30px;
    color: rgb(80,80,80);
    cursor: pointer;
  }
  
  .file_input{
    vertical-align: middle;
    width: 20px;
    cursor: pointer;
    margin-left: -30px;
    opacity: 0;
    position: relative;
    z-index: 10;
  }
  
  .icon_upload_csv{
    width: 30px;
    height: 30px;
    color: rgb(80,80,80);
    cursor: pointer;
    float: right;
    margin-top: -40px;
    margin-right: 5%;
  }
  
  .icon_upload_csv_help{
    width: 20px;
    height: 20px;
    color: $colorPrincipal;
    cursor: pointer;
    float: right;
    margin-top: -40px;
    margin-right: 2%;
  }
  form{
    display:block;
    unicode-bidi: isolate;
    text-align: left;
  }
  
  .div-cliente-newquotation{
    display: flex;
    width: 100%;
    align-items: center;
    margin: 20px 0px;
    font-size: 20px;
  }
  .label_solicitud_newquotation{
    vertical-align: bottom;
    margin: 0 10px;
    width: 45%;
    color: #fff;
    background-color: #121212;
    padding: 5px 20px;
    text-align: left;
    font-weight: 400;
  }
  .switch { 
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
    vertical-align: center;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .newquotation__finish{
    background: #505050;
    margin-left: 10%;
  }
  
  input:checked + .slider {
    background-color: $colorPrincipal;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
