@import "base/body";
@import "abstracts/variables";
@import "components/Login";
@import "components/Dashboard";
@import "components/CategoriesAdmin";
@import "components/ClientsAdmin";
@import "components/Header";
@import "components/Store";
@import "components/SearchBar";
@import "components/ProductTable";
@import "components/ProductCell";
@import "components/HoverText";
@import "components/AnimatedModal";
@import "components/CartWidget";
@import "components/CartCheckout";
@import "components/Pagination";
@import "components/Admin";
@import "components/AdminTitle";
@import "components/AdminBody";
@import "components/OthersAdmin";
@import "components/OrderDetail";
@import "components/FiltrosModal";
@import "components/newQuotation";
@import "components/AddProduct";
@import "components/Presupuesto";
@import "components/SuppliersAdminmodal";


